td{
  padding: 20px;
  font-size: large;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 4px; 
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}

tr{
  padding: 10px;
}

.input-form{
  border: 1px solid black;
  font-size: large;
}